@page
@model aws_win_rds_crud.Pages.CreateModel
@{
    ViewData["Title"] = "Create";
}
<h1>Create</h1>
<form method="post">
    @Html.AntiForgeryToken()
    <div>
        <label asp-for="Product.Name"></label>
        <input asp-for="Product.Name" />
        <span asp-validation-for="Product.Name"></span>
    </div>
    <div>
        <label asp-for="Product.Price"></label>
        <input asp-for="Product.Price" />
        <span asp-validation-for="Product.Price"></span>
    </div>
    <button type="submit">Save</button>
</form>
