@page
@model aws_win_rds_crud.Pages.IndexModel
@{
    ViewData["Title"] = "Products";
}
<h1>Products</h1>
<p><a href="/Create">Create New</a></p>
<table>
<thead><tr><th>Id</th><th>Name</th><th>Price</th></tr></thead>
<tbody>
@foreach (var p in Model.Products)
{
    <tr><td>@p.Id</td><td>@p.Name</td><td>@p.Price</td></tr>
}
</tbody>
</table>

